---
import illustrationGrowTogether from "../assets/images/illustration-grow-together.svg";
import illustrationFlowingConversation from "../assets/images/illustration-flowing-conversation.svg";
import illustrationYourUsers from "../assets/images/illustration-your-users.svg";
---

<section>
  <ul>
    <li>
      <img
        src=`${import.meta.env.REPO_NAME}${illustrationGrowTogether.src}`
        alt="People growing together"
      />
      <h2>Grow Together</h2>

      <p>
        Generate meaningful discussions with your audience and build a strong,
        loyal community. Think of the insightful conversations you miss out on
        with a feedback form.
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <img
        src=`${import.meta.env.REPO_NAME}${illustrationFlowingConversation.src}`
        alt="People conversing"
      />
      <h2>Flowing Conversations</h2>

      <p>
        You wouldn't paginate a conversation in real life, so why do it online?
        Our threads have just-in-time loading for a more natural flow.
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <img
        src=`${import.meta.env.REPO_NAME}${illustrationYourUsers.src}`
        alt="Illustration of users"
      />
      <h2>Your Users</h2>

      <p>
        It takes no time at all to integrate Huddle with your app's
        authentication solution. This means, once signed in to your app, your
        users can start chatting immediately.
      </p>
    </li>
  </ul>
</section>
